body {
  background-color: antiquewhite;
}

#btn {
  background-color: darkorange;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
  font-size: 42px;
  color: antiquewhite;
  box-shadow: 0 18px 6px rgba(208, 62, 54, 0.8);
  cursor: pointer;
  user-select: none;
}

#btn:hover {
  opacity: 0.9;
}

#btn:active {
  margin-top:60px;
  box-shadow: 0 8px 6px rgba(208, 62, 54, 0.8);
}